/* Фон */
body {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    background-color: #000;
    background-image: repeating-linear-gradient(
        45deg,
        #FFD700 0,
        #FFD700 5px,
        #000 5px,
        #000 10px
    );
}

/* Верхняя серая полоса */
.header-bar {
    width: 100%;
    background-color: #333;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

/* Название */
.header-title {
    color: yellow;
    font-size: 28px;
}

/* Контейнер с играми */
.main-container {
    margin-top: 140px;
    padding: 40px;
    background-color: #333;
    border: 4px dashed yellow;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    min-height: 600px; /* Удлинили! */
}

/* Заголовок Select Game */
.select-game-title {
    font-size: 24px;
    color: yellow;
    margin-bottom: 40px;
}

/* Игры */
.games {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.game-card {
    background-color: #111;
    border: 2px dashed yellow;
    padding: 20px;
    width: 250px;
}

.game-card h2 {
    margin-bottom: 20px;
}

.game-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.play-btn {
    background-color: #ff0077;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 12px;
    cursor: pointer;
}

.play-btn:hover {
    background-color: #e6006b;
}
