body {
  background-color: #1a1a1a; /* Тёмно-серый фон */
  background-image: 
    linear-gradient(#333 1px, transparent 1px), 
    linear-gradient(90deg, #333 1px, transparent 1px);
  background-size: 30px 30px; /* Размер клеток */
  color: #fff; /* Цвет текста */
  margin: 0;
  padding: 0;
}

}

/* Шапка */
.header-bar {
  width: 100%;
  background-color: #333;
  padding: 20px 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  text-align: left; /* ВЫРОВНЯТЬ ВЛЕВО */
}

/* Текст шапки */
.header-title {
  color: yellow;
  font-size: 24px;
}

/* Контейнер */
.main-container {
  margin-top: 120px;
  padding: 40px;
  background-color: #333;
  border: 4px dashed yellow;
  width: fit-content;
  min-height: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Заголовок SELECT GAME */
.select-game-title {
  font-size: 26px;
  color: yellow;
  margin-bottom: 40px;
}

/* Блок игр */
.games {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.game-card {
  background-color: #111;
  border: 2px dashed yellow;
  padding: 20px;
  width: 250px;
}

.game-card h2 {
  margin-bottom: 20px;
  color: yellow; /* ТЕКСТ CRASH И MINES ЖЁЛТЫЙ */
}

.game-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.play-btn {
  background-color: #ff0077;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  font-size: 12px;
  cursor: pointer;
}

.play-btn:hover {
  background-color: #e6006b;
}
